{% extends "base.html" %}

{% block content %}
<div>
  <img src="/static/img/movies3.jpg" style="pad 500px; width: 250vh; height: 50vh;">
</div>

  <div class="container" style="align-content:center">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="merp">50 best movies:</h3><br>

          <p><span>1. {{top_fifty[0]}}</span></p>
          <p><span>2. {{top_fifty[1]}}</span></p>
          <p><span>3. {{top_fifty[2]}}</span></p>
          <p><span>4. {{top_fifty[3]}}</span></p>
          <p><span>5. {{top_fifty[4]}}</span></p>
          <p><span>6. {{top_fifty[5]}}</span></p>
          <p><span>7. {{top_fifty[6]}}</span></p>
          <p><span>8. {{top_fifty[7]}}</span></p>
          <p><span>9. {{top_fifty[8]}}</span></p>
          <p><span>10. {{top_fifty[9]}}</span></p>
          <p><span>11. {{top_fifty[10]}}</span></p>
          <p><span>12. {{top_fifty[11]}}</span></p>
          <p><span>13. {{top_fifty[12]}}</span></p>
          <p><span>14. {{top_fifty[13]}}</span></p>
          <p><span>15. {{top_fifty[14]}}</span></p>
          <p><span>16. {{top_fifty[15]}}</span></p>
          <p><span>17. {{top_fifty[16]}}</span></p>
          <p><span>18. {{top_fifty[17]}}</span></p>
          <p><span>19. {{top_fifty[18]}}</span></p>
          <p><span>20. {{top_fifty[19]}}</span></p>
          <p><span>21. {{top_fifty[20]}}</span></p>
          <p><span>22. {{top_fifty[21]}}</span></p>
          <p><span>23. {{top_fifty[22]}}</span></p>
          <p><span>24. {{top_fifty[23]}}</span></p>
          <p><span>25. {{top_fifty[24]}}</span></p>
          <p><span>26. {{top_fifty[25]}}</span></p>
          <p><span>27. {{top_fifty[26]}}</span></p>
          <p><span>28. {{top_fifty[27]}}</span></p>
          <p><span>29. {{top_fifty[28]}}</span></p>
          <p><span>30. {{top_fifty[29]}}</span></p>
          <p><span>31. {{top_fifty[30]}}</span></p>
          <p><span>32. {{top_fifty[31]}}</span></p>
          <p><span>33. {{top_fifty[32]}}</span></p>
          <p><span>34. {{top_fifty[33]}}</span></p>
          <p><span>35. {{top_fifty[34]}}</span></p>
          <p><span>36. {{top_fifty[35]}}</span></p>
          <p><span>37. {{top_fifty[36]}}</span></p>
          <p><span>38. {{top_fifty[37]}}</span></p>
          <p><span>39. {{top_fifty[38]}}</span></p>
          <p><span>40. {{top_fifty[39]}}</span></p>
          <p><span>41. {{top_fifty[40]}}</span></p>
          <p><span>42. {{top_fifty[41]}}</span></p>
          <p><span>43. {{top_fifty[42]}}</span></p>
          <p><span>44. {{top_fifty[43]}}</span></p>
          <p><span>45. {{top_fifty[44]}}</span></p>
          <p><span>46. {{top_fifty[45]}}</span></p>
          <p><span>47. {{top_fifty[46]}}</span></p>
          <p><span>48. {{top_fifty[47]}}</span></p>
          <p><span>49. {{top_fifty[48]}}</span></p>
          <p><span>50. {{top_fifty[49]}}</span></p>
          
      </div>
    </div>
  </div>

<br><br><br><br>

<br>

<div class="container" style="align-content:center">
  <a style="font-size:12pt" href="/">Main page</a>
</div>

{% endblock %}